<section class="main registration">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="registration-wrapper">
          <h1>Авторизация</h1>
          <form [formGroup]="authForm">
            <label class="input-wrapper no-valid">
              <span>Ваше имя</span>
              <input type="text" formControlName="name"
              >
              <div class="valid-message">Введите корректное имя</div>
              <pre>{{authForm.get('name').errors | json}}</pre>
            </label>
            Мужчина: <course-switcher formControlName="male"></course-switcher>

            <div>Добавить email<span (click)="emails.push(createEmailInput())"> + </span></div>
            <label class="input-wrapper no-valid"
              *ngFor="let e of emails.controls; index as i">
              <span>Email {{i+1}}</span>
              <input type="text" [formControl]="e"> <span (click)="emails.removeAt(i)"> x </span>
              <div class="valid-message">Введите корректный имейл</div>
            </label>

            <div formGroupName="passwordGroup">
              <label class="input-wrapper">
                <span>Пароль</span>
                <input type="password" formControlName="password">
              </label>
              <label class="input-wrapper">
                <span>Повторить Пароль</span>
                <input type="password" formControlName="cpassword">
              </label>
            </div>
            <div class="btn-wrapper">
              <button>Зарегистрироваться</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
