<section class="main registration">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="registration-wrapper">
          <h1>Авторизация</h1>
          <form action="">
            <label class="input-wrapper no-valid">
              <span>Ваше имя</span>
              <input type="text">
              <div class="valid-message">Введите корректное имя</div>
            </label>
            <label class="input-wrapper">
              <span>Пароль</span>
              <input type="password">
            </label>
            <div class="btn-wrapper">
              <button>Зарегистрироваться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
