<div class="col-lg-4">
  <div class="catalogItem">
    <div class="catalogItem__img">
      <img src="assets/img/img1.jpg" alt="Обои"
        (mouseenter)="t.show()"
        (mouseleave)="t.hide()"
        [routerLink]="['/products', product._id]"
      >
    </div>
    <div class="catalogItem__name" [ngClass]="{odd:isOdd}">{{position+1}}. {{product.title}}</div>
    <div class="catalogItem__code">Артикул: {{product.serial}}</div>
    <div class="catalogItem__brand">Бренд: <strong>{{product.author}}</strong></div>
    <div class="catalogItem__prices"
      [courseTooltip]="dolarPrice(product.price) | number:'1.0-0'"
      #t="tool"
    >
      Цена:
      <strong>{{product.price}}</strong>
      <!--<span class="tooltiptext open">Эквив. ~ 150$</span>-->
    </div>
    <button class="catalogItem__btn" (click)="addToCart(product)">Заказать</button>
  </div>
</div>
